<section class="container-fluid" style=" padding-top: 20px;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-5">
                <div class="card" style="border-radius: 1.5rem; border: none;">
                    <div class="row">
                        
                        <div class="col-md-12 col-lg-12 d-flex align-items-center">
                            <div class="card-body text-black">
                                <div class="card-body shadow-5" style="direction: rtl;">
                                    <h4 class="fw-bold text-center" style="margin-bottom: 7%;">تغيير كلمة المرور</h4>
<form [formGroup]="registerForm" (ngSubmit)="resetPassword()">
    <!-- Password input -->
    <div class="form-outline mt-2 mb-2"  style="padding-bottom: 5%;">
        <label class="form-label" for="oldpassword">كلمه المرور القديمة  </label>
        <input formControlName="oldPassword" type="password" id="oldpassword"
            class="form-control" placeholder="كلمة المرور القديمة . . . "
            [class.is-invalid]="OLDPASS?.invalid && OLDPASS?.touched" />
        <div *ngIf="OLDPASS?.touched && OLDPASS?.errors">
            <small class="text-danger" *ngIf="OLDPASS?.errors?.['required']"> لابد من
                ادخال كلمه المرور </small>
        </div>
    </div>


    <!-- New Password input -->
    <div class="form-outline mt-2 mb-2"  style="padding-bottom: 5%;">
        <label class="form-label" for="password">كلمه المرور الجديدة  </label>
        <input formControlName="password" type="password" id="password"
            class="form-control" placeholder="كلمة المرور الجديدة . . . "
            [class.is-invalid]="PASS?.invalid && PASS?.touched" />
        <div *ngIf="PASS?.touched && PASS?.errors">
            <small class="text-danger" *ngIf="PASS?.errors?.['required']"> لابد من
                ادخال كلمه المرور </small>
        </div>
    </div>

    <!--confirm Password input -->
    <div class="form-outline" style="margin-bottom: 7%;">
        <label class="form-label" for="confirmPass">تأكيد كلمه المرور الجديدة
            
        </label>
        <input formControlName="confirmPassword" type="password" id="confirmPass"
            class="form-control" placeholder="تأكيد كلمة المرور الجديدة . . . "
            [class.is-invalid]="registerForm?.errors?.['misMatch'] && CONFIRMPASS?.invalid" />
        <small class="text-danger" *ngIf="registerForm?.errors?.['misMatch']">كلمتي
            المرور غير متطابقتين</small>

    </div>

    <div>
        <small class="text-danger">{{errorMessage}}</small>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-block mt-2 mb-2 "
        style="background-color: #0E7E4A; color:white;margin-right: 84%;"
        [disabled]="registerForm.invalid || CONFIRMPASS?.invalid">
        حفظ
    </button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>