*{
    font-family: Tajawal;
}

.first{
    background: url(/assets/images/wallpaperflare.com_wallpaper.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto; 
    text-align: center; 
    height: 250px; 
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgb(161, 161, 161);
    transition: 0.5s all ease-in-out;
}
.firstfirst{
    background-color: rgba($color: #035B74, $alpha: 0.6);
    margin: auto; 
    text-align: center; 
    height: 250px; 
    border-radius: 15px; 
    color: white;
}

.first:hover .firstfirst{
    background-color: rgba($color: #0182a6, $alpha: 0.8);
    color: white;
    
}

.second{
    background: url(/assets/images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto; 
    text-align: center; 
    height: 250px; 
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgb(161, 161, 161);
    transition: 0.5s all ease-in-out;
}
.secondsecond{
    background-color: rgba($color: #0E7E4A, $alpha: 0.6);
    margin: auto; 
    text-align: center; 
    height: 250px; 
    border-radius: 15px; 
    color: white;
}


.second:hover .secondsecond{
    background-color: rgba($color: #10d479, $alpha: 0.8);
    color: white;
    
}
