* {
    margin: 0;
    padding: 0;
    font-family: Tajawal;
}

body {
    background-color: #fff
}

/*left side*/


.card1 {
    height: 100vh;
    width: 100%;
    //background-color: #0E7E4A  ;
    background-color: white;
    border: none
}
.btn {
    height: 40px;
    width: 100%;
    border: none;
    position: relative;
    border-radius: 3px;
}

.btn i {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #0E7E4A;
}

.btn span {
    position: absolute;
    right: 8px;
    font-weight: 600;
    font-size: 18px;
    top: 8px;
    color: #0E7E4A;
}

.btn:hover {
    background-color: #0E7E4A;
}
.btn:hover span{
    color: white;
    font-weight: 100;
}
.btn:hover i {
    color: white;
}



/*right side*/
.card2 {
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    border: none
}

/* width */
.scroooll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.scroooll::-webkit-scrollbar-track {
    background: #d41515; 
  }
   
  /* Handle */
.scroooll::-webkit-scrollbar-thumb {
    background: rgb(228, 16, 16); 
  }
  
  /* Handle on hover */
.scroooll::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 16, 16); 
  }